*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.App {
  text-align: center;
  width:60%;
  height:80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
input{
  margin: 5px;
  padding: 10px 0px;
  color: #7875B5;
  border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding-left: 24px;
	font-weight: 700;
	transition: .2s;
}
button{
  width:15%;
  margin :5px;
  height:5%;
  border-radius: 5px;
}
.btn{
  width:40%;
  height: 8%;
  border: none;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
form{
  height: 80%;
    width: 60%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
